.page__hero__text_bg_blur {
  color: #000 !important; 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.2);
}

.font-size-16 .page__inner-wrap {
  font-size: 16px;
}