@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

.resume-wrapper {
  //background: #fff;
  font-size: 15px;
  line-height: 1.4;
  max-width: 950px;
  padding: 1em;

  * {
    font-family: 'Poppins', sans-serif;
  }

  h3 {
    margin: inherit;
  }
}

.resume-page-sidebar {
  width: calc(100% - 200px);
  display: block;
  float: none;
  margin: 0 auto;
}

.resume-page {
  width: calc(100% - 300px);
}

.wide { 
  .resume-page {
      padding-inline-end: 0;
      margin: 0 auto;
      width: 100%;
  }

  .resume-wrapper {
    max-width: 100%;
  }
}

.resume-contents {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.resume-detail-section {
  flex: 0 0 70%;
}

.resume-profile-section {
  flex: 0 0 30%;
}

.anchor-title {
  color: #222;
  letter-spacing: -0.5px;
  margin: inherit;
  padding: 10px 0;
}

.resume-title {
  text-align: center;
}


.resume-file-link {
  float: right;

  &:hover {
    scale: 1.1;
  }
}

.timeline {
  position: relative;
  margin-top: 20px;
  .line{
    position: absolute;
    background: #000;
    height: 0%;
    width: 1.5px;
    top: 15px;
    left: 8.5px;
  }
  &.condensed .line {
    top: 7px;
  }
}

.timeline-year {
  padding: 10px;
  border: 2px solid #081921;
  border-radius: 20px;
  display: block;
  width: fit-content;
  margin-top: 10px;

  > i {
    margin-right: 5px;
  }
}

.timeline-item {
  padding: 0px 15px 0px 30px;
  position: relative;
  margin-bottom: 15px;

  
  &:before {
    content: "";
    position: absolute;
    background: #fff;
    border: 1.5px solid #000;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 1em;
    left: 4px;
  }
  
  &:last-child {
    margin-bottom: 0; 
  }

  ul {
    margin-bottom: 20px;
  }

  & > p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.resume_wrapper ul {
  list-style-type: none;
  padding: 0;
  li {
    padding: 2px 0 0 20px;
    position: relative;
    &:before {
      content: "\2014";
      position: absolute;
      left: 0;
    }
  }
}

.section-div:has(.anchor-title){
    padding: 0 10px;

    &:hover{
    background: linear-gradient(130deg, rgba(251, 251, 254, 0.6), rgba(251, 251, 254, 0.2));
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 10px;
    transition: box-shadow 0.25s;
    backdrop-filter: blur(4px);
  }
}

.section-div {
  position: relative;
  overflow-y: hidden;

  &:not(.first-child){
    margin-top: 10px;
  }
}

.section-info {
  display: grid;
	grid-template-rows: 0fr;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 200ms, 200ms, 400ms;
	transition-property: opacity, grid-template-rows;
	transition-delay: 0ms, 0ms, 450ms;
  opacity: 0;

  &.expand-section {
    grid-template-rows: 1fr;
    opacity: 1;
  }
}

.section-inner {
  overflow: hidden;
}

.collapse-tool {
  cursor: pointer;
  position: absolute;
  right: 25px;
  opacity: 0.6;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #676767;
    border-bottom: transparent;
    border-left: transparent;
    border-top-right-radius: 2px;
    transition: transform 0.4s ease;
    transform-origin:  50% 0;
    transform: rotate(135deg);
  }
  
  &.close {
    transform: rotate(-90deg);
  }

  &:hover {
    opacity: 1;
  }
}

/** Profile Section **/
.resume-profile {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 0.9rem;
  padding: 0;

  .anchor-title {
    font-size: 15px;
    margin-bottom: 0.5em;
  }

  table {
    border: none;
    font-size: 12px;
  }

  .social-link {
    text-decoration: none;
  }
}


/** Bar Chart - Skills Mastery **/
.chart {
  ul {
    padding: 0
  }

  ul li{
    display:flex;
    flex-direction:column;
    gap:5px; 
    margin: 0 10px 10px 10px;
  }

  .mastery{
    position:relative;
    width:100%;
    height:6px;
    background:#081921;
    display:block;
    margin-top:5px;
    border-radius: 3px;
  }

  .mastery div{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
    border-radius: 3px;
  }

  .skill-name {
    font-size: 14px;
  }
}

/** For Progress Bar **/

@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

:root {
  --target-value: 0;
}

@keyframes progress-increment {
  to { --progress-value: var(--target-value) }
}

.progress-bar {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#03a9f4 calc(var(--progress-value) * 1%), #081921 0);
  
  animation: progress-increment 2s forwards;
}

.progress-bar::before {
  counter-reset: percentage var(--target-value);
  content: counter(percentage) '%';
  position: absolute;
  font-weight: bold;
  color: #333;
  font-size: 12px;
}

progress {
  visibility: hidden;
  width: 0;
  height: 0;
}

.progress-name {
  font-size: 14px;
}

/** Pill */
.pill-tag {
	font-size: 14px !important;
	font-family: system-ui;
	padding: 0.5em 1em;
	margin: 0.25em;
	border-radius: 1em;
	border: none;
	outline: none;
	background: #f3f3f3;;
	cursor: pointer;
}

.pill-tag:hover {
	background: #cccccc;
}

.pill-title {
  font-size: 14px;
  margin: 0;
}

.pill-section {
  margin-bottom: 20px;

  ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
  }
}

.timeline {
  position: relative;
  margin-top: 20px;
  .line{
    position: absolute;
    background: #000;
    height: 0%;
    width: 1.5px;
    top: 15px;
    left: 8.5px;
  }
  &.condensed .line {
    top: 7px;
  }
}

.list-item {
  padding: 0px 15px 0px 30px;
  position: relative;
  margin-bottom: 15px;
  &:before {
    content: "";
    position: absolute;
    background: #fff;
    border: 1.5px solid #000;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 5px;
    left: 4px;
  }
  
  &:last-child {
    margin-bottom: 0; 
  }

  ul {
    margin-bottom: 20px;
  }

  .item > a {
    text-decoration: none;
  }
}


//table

.scroll-table {
  table-layout: fixed;
  width: 100%;
  display: table;
}

.scroll-table thead,
.scroll-table tbody {
  display: block;
}

.scroll-table tbody {
  overflow-y: auto;
  overflow-x: auto;
}


.scroll-table th,
.scroll-table td {
  padding: 8px;
  text-align: left;

  &:last-child{
    width: 100%;
  }


}

@media screen and (max-width: 64em){

  .resume-page {
    width: 100%;
  }

  #js_sidebar {
    float: none;
  }
}

@media screen and (max-width: 50em){
  .resume-contents {
    flex-direction: column;
  }
}

.wide #js_sidebar {
  width: 100%;
}

#js_sidebar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  
  .nav__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav__title {
    background: #383A45;
    color: #ddd;
    text-align: center;
    font-size: 17px;
  }

  .nav__sub-title {
    font-weight:normal;
    margin: 0;
    font-size: 13px;
  }

  li {
    padding-left: .3em;

    a {
      text-decoration: none;
    }
  }

  li:hover {
    border-left: 2px solid #333;
    color: #333;
  }
}