.resume-toc {
    font-family: $sans-serif-narrow;
    color: $gray;
    background-color: $background-color;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  
    // Scrollspy marks toc items as .active when they are in focus
    .active a {
      @include yiq-contrasted($active-color);
    }
  }

@media (max-width: 64em) {
  .resume-toc {
    label {
      display: block;
      margin: 0;
    }
  }
}