<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": {{ site.name | default: site.author.name | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }},
    "description": {{ site.description | jsonify }},
    "jobTitle": "Mechanical Engineer & Web Developer",
    "image": {{ site.author.avatar | absolute_url | jsonify }},
    {%- assign social_links = site.author.links | map: "url" -%}
    {%- if social_links.size > 0 -%}
    "sameAs": {{ social_links | jsonify }}
    {%- endif %}
  }
  </script>