{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
  <!-- KaTeX JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.js"></script>
  <!-- KaTeX Auto-render Extension -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/auto-render.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
          // 1. Define the delimiters
          delimiters: [
              {left: '$$', right: '$$', display: true}, // Block math
              {left: '\\[', right: '\\]', display: true}, // Alternative block math
              {left: '$', right: '$', display: false},  // Inline math
              {left: '\\(', right: '\\)', display: false} // Alternative inline math
          ],
          
          // 2. Protect your code blocks!
          ignoredTags: [
              "script", "noscript", "style", "textarea", "pre", "code", "option"
          ],
          
          // 3. Prevent page breaks on bad syntax
          throwOnError: false,
          errorColor: "#cc0000"
      });
  });
  </script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
