.page__hero {
    position: relative;
    overflow: hidden;
}
  
.page__hero-image-wrapper {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.page__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills space without distortion */
    object-position: right;
}

.page__hero-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.page__hero .wrapper {
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
    font-size: .8em; 
    z-index: 2; /* keeps text & buttons above image and filter */
}

#page-title, .page__lead {
    position: relative;
    /*top: 8px;*/
}

/* .page__hero--overlay {
    padding: 6em 0;
} */

@media screen and (max-width: 768px) {
    .page__hero .wrapper {
        font-size: .7em;
    }
}

.feature-row__card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    font-weight: 400;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 1.5em;
}

.feature-row__card:hover {
    transform: scale(1.05);
    z-index: 1;
    transition: box-shadow 0.2s ease,
                transform 0.2s ease,
                z-index 0s 0s ease;
}

.page__meta {
    margin: 1.5em 0 !important;
}

.page__meta-readtime {
    border: 2px solid #343434;
    padding: 0.8em;
    border-radius: 1.6rem;
    color: #2d3748;
    background-color: #edf2f7;
}

.list__item {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    background: #f2f2f2;
    padding: 1em 0.5em;
}

.list__item:hover {
    background-color: #f9f9f9;
}

.list__item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.icon-ionic {
    background: url('../icons/ionic.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-position: center;
}

.icon-autodesk {
    background: url('../icons/autodesk.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-position: center;
}

.icon-codeware {
    background: url('../icons/codeware.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    -webkit-filter: invert(.75);
    filter: invert(.75);
    background-position: center;
}

.icon-ansys {
    background: url('../icons/ansys.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-position: center;
}

.icon-solidworks {
    background: url('../icons/solidworks.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-position: center;
}

.icon-prg {
    background: url('../icons/prgfull.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-position: center;
    -webkit-filter: invert(.75);
    filter: invert(.75);
}

.icon-hexagon {
    background: url('../icons/hexagon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    background-position: center;
}

.icon-inventor {
    background: url('../icons/inventor.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-position: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
}

.icon-prepomax {
    background: url('../icons/prepomax.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-position: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
}

/* For front page animation */
.typewriter:after {
    content: ' ';
    display: inline-block;
    background: rgba(120,120,120,0.7);
    position:relative;
    width: 10px;
    height: 1.1em;
    vertical-align: middle;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
  
@keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}